VITE_FIREBASE_API_KEY=AIzaSyB_u5N3ioK9sh8BVIDgrB772U5hZBI_gB8
VITE_FIREBASE_AUTH_DOMAIN=mod-u-go.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mod-u-go
VITE_FIREBASE_STORAGE_BUCKET=mod-u-go.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1080868460172
VITE_FIREBASE_APP_ID=1:1080868460172:web:292124b9643cf2ad7c4da9
VITE_FIREBASE_MEASUREMENT_ID=G-HRMN0B5S0C
VITE_API_URL=http://localhost:5001/api